.standard-link {
    border: none;
    background-color: transparent;
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity,1));
    text-decoration: underline;
    display: inline;
}

.navbar{
    --bs-navbar-color:white;
    --bs-navbar-brand-color:white;
    --bs-navbar-active-color:white;
}

.navbar>.container-fluid {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: aliceblue;
    font-style: normal;

}

h1, p {
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    font-family: "Poppins", sans-serif;
}

.image{
    display: flex;
    justify-content: center;
    filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));
}

.btn:hover{
    transform: scale(1.05);
    transition: all 0.1s ease-in-out;
    filter: drop-shadow(0px 0px 6px rgb(0, 0, 0));
}

.btn:active{
    transform: scale(1.035);
    transition: all 0.05s ease-in-out;
    filter: drop-shadow(0px 0px 3px rgb(0, 0, 0));
}

.btn {
    width: 30%;
    font-weight: bold;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right,#000000, #323232);
    border: 0;
    padding: 10px 40px;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;
    display: grid;
    margin-bottom: 25px;
    margin-top: 15px;
    font-size: 23px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

h1 {
    font-size: 3.5vw;
}

p {
    padding-top: 15px;
    font-size: 1.2vw;
}