<%- include("../shared/_header"); %>

    <link rel="stylesheet" type="text/css" href="/css/errorpages.css">
    <div class="container mt-5">
        <h1>Uh Oh!</h1>
        <p>Error code 401.</p>
        <div class="image">
            <img src="../../pictures/patrick.png" alt="Patrick Star with a board nailed to his forehead">
        </div> 
        <a href="/" class="btn btn-primary">Go back to home</a>   
    </div>

<%- include("../shared/_footer"); %> 