<%- include("../shared/_header"); %>

    <link rel="stylesheet" type="text/css" href="/css/errorpages.css">
    <div class="container mt-5">
        <h1>OOPSIE WOOPSIE!! Uwu we made a fucky wucky...</h1>
        <p>We hit a 404. Something happened with the software, and it tried to load something that isn't there! Please go back and try again.</p>
        <img src="../../pictures/patrick.png" alt="Patrick Star with a board nailed to his forehead">
    </div>

<%- include("../shared/_footer"); %> 