<%- include("../shared/_header"); %>

    <div class="container mt-5">
        <h1>Mamma mia...how did you even get here??</h1>

        <hr class="my-5">
    </div>

<%- include("../shared/_footer"); %>